.caption {
  font-size: 9px;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none !important;
}
.subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 600;
}

.title {
  margin: 0px 10px;
}
